<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action = "{{ url_for('registerUser')}}" method = "post">
        <label for = "FName"><H2> Your Name </H2></label>
        <input type = text id = "Uname" name="Uname"><br>
        <label for = "FName"><H2> Email </H2></label>
        <input type = text id = "Email" name="Email"><br>
        <label for = "LName"><h2> Password </h2></label>
        <input type = text id = "Pass" name="Pass"><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>